{% load static %}
<aside x-show="mobileSidebarOpen" x-cloak class="md:!block col-span-full md:col-span-1 lg:mr-[20%] order-1 md:order-2"
    x-transition:enter="duration-300 ease-out"
    x-transition:enter-start="opacity-0 -mt-96"
    x-transition:enter-end="opacity-100 mt-0">
        <section class="card p-4">
            <h2>Categories</h2>
            <ul class="hoverlist">
                {% for category in categories  %}
                <li class="{% if category.slug == tag.slug %}highlight{% endif %}">
                    <a href="{% url 'category' category.slug%}">
                        <img class="w-8 h-8 object-cover mr-2" src="{{category.ImageUrl}}">
                        <span class="font-bold text-sm">{{category.name}}</span>
                    </a>
                </li>
                {% endfor %}
            </ul>
        </section>
        <section class="card p-4">
            <div class="flex items-center">
                <img class="w-7 mr-2 -mt-3" src="{% static "app/images/vuongmien.png" %}"/>
                <h2>Top Posts</h2>
            </div>
            <ul class="hoverlist">
                <!--chi in ra 5 phan tu dau tien neu danh sach nhieu hon  phan truncate-->
                {% for post in top_posts|slice:":5" %}
                <li>
                    <a href="{% url 'post' post.id %}" class="flex items-stretch justify-between">
                        <div class="flex items-center truncate">
                            {% if post.ImageUrl %}
                            <img class="w-10 h-10 rounded-lg object-cover mr-3 shrink-0" src="{{post.ImageUrl}}">
                            {% else %}
                            <span class="text-sm mr-1">no image</span>
                            {% endif %}
                            {% if post.author %}
                            <img class="w-6 h-6 rounded-full object-cover mr-1" src="{{post.author.profile.avatar}}">
                            <span class="font-bold text-sm mr-1">{{post.author.username}}</span>
                            {% else %}
                            <img class="w-6 h-6 rounded-full object-cover mr-1" src="{% static 'app/images/avatar_default.svg' %}">
                            <span class="font-bold text-sm mr-1">no author</span>
                            {% endif %}
                        </div>
                        <span class="{% if user in post.likes.all %}font-bold{% else %}font-light{% endif %} text-sm text-grey-500 shrink-0">{{post.likes.count}} Like{{post.likes.count|pluralize:'s'}}/{{post.comments.count}} Comment{{post.comments.count|pluralize:'s'}}</span>
                    </a>
                </li>
                {% endfor %}
            </ul>
        </section>
        <section class="card p-4">
            <div class="flex items-center">
                <img class="w-7 mr-2 -mt-3" src="{% static "app/images/cmt.png" %}"/>
                <h2>Top Comments</h2>
            </div>
            <ul class="hoverlist">
                <!--chi in ra 5 phan tu dau tien neu danh sach nhieu hon 5 phan tu-->
                {% for comment in top_comments|slice:":5"  %}
                <li>
                    <a href="{% url 'post' comment.parent_post.id %}" class="flex items-stretch justify-between">
                        <div class="flex items-center truncate">
                            {% if comment.author %}
                            <img class="w-6 h-6 rounded-full object-cover mr-1" src="{{comment.author.profile.avatar}}">
                            <span class="font-bold text-sm mr-1">{{comment.author.username}} : {{comment.body|truncatechars:10}}</span>
                            {% else %}
                            <img class="w-6 h-6 rounded-full object-cover mr-1" src="{% static 'app/images/avatar_default.svg' %}">
                            <span class="font-bold text-sm mr-1">no author :{{comment.body|truncatechars:10}}</span>
                            {% endif %}
                        </div>
                        <span class="{% if user in comment.likes.all %}font-bold{% else %}font-light{% endif %} text-sm text-gray-500 shrink-0">
                            {{ comment.likes.count }} Like{{ comment.likes.count|pluralize:"s" }}/{{ comment.replies.count }} Repl{% if comment.replies.count > 1 %}ies{% else %}y{% endif %}
                        </span>
                        
                    </a>
                </li>
                {% endfor %}
            </ul>
        </section>
</aside>